.enviteIcon--wrapper {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.plugInIcon {
    width: 70px;
    height: 70px;
    background-image: url('../../assets/eNviteIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}