.enviteIcon--wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
}
.plugInIcon {
    width: 70px;
    height: 70px;
    background-image: url('../../assets/eNviteIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}