* {
    font-size: 17px;
}
.signIn--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #56536c;
}
.close__button {
    width: 60px;
    height: 6px;
    background-color: #a4a3b9;
    border-radius: 25px;
    margin-bottom: 15px;
}
.signIn__body {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    align-items: center;
    background-color: #f3f3f8;
}
.signIn__brandLogo {
    width: 90px;
    height: 90px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.signIn__welcome {
    font-size: 32px;
    margin-bottom: 10px;
}
.signIn__description {
    font-size: 17px;
    opacity: 0.9;
}
.loginField {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fbLogin,
.gLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 52px;
    border-radius: 25px;
    background-color: #fff;
    margin: 20px 10px 20px 10px;
    border-width: 2px;
    border-color: #cccccf;
    box-shadow: -1px 2px 2px 0px #cccccfa8;
}
.facebookIcon {
    width: 52px;
    height: 52px;
}
.googleIcon {
    width: 23px;
    height: 23px;
}
.signIn__footer {
    padding-bottom: 30px;
    font-size: 16px;
}
.signIn__brandName {
    font-weight: bold;
    font-size: 14px;
}
