.groupChatSettings__close {
    margin-left: auto;
    margin-right: 0;
    background: none;
    border: none;
    padding-right: 20px;
    color: #fff;
}
.groupChatSettings__close__icon {
    width: 14px;
    height: 14px;
}
.groupChatSettings__midSection {
    background-color: #f5f4fa;
    width: 100%;
    padding-bottom: 40px;
    overflow: none;
}
.groupChat__midSection--overflow {
    overflow-y: scroll;
    height: 250px;
}
.groupChatSettings__midSection__firstDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 10px 25px 10px 20px;
}
.groupChatSettings__midSection__firstDiv__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    margin-right: 10px;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #ecc282, #ad38db);
}
.groupChatSettings__midSection__firstDiv__icon > span {
    margin-bottom: 3px;
}
.groupChatSettings__midSection__firstDiv__text {
    font-weight: bold;
}
.groupChatSettings__midSection__goTo__icon {
    margin-right: 0;
    margin-left: auto;
    color: rgba(128, 128, 128, 0.432);
}
.groupChatSettings__membersCount {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
    opacity: 0.8;
    margin-left: 25px;
}
.groupChatSettings__membersList__container {
    height: 220px;
    overflow-y: scroll;
    background-color: #fff;
}

.groupChatSettings__memberList {
    display: flex;
    align-items: center;
}

.groupChatSettings__addMemberBtn__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: #2f79fb;
    background-color: transparent;
    padding: 5px 25px 5px 20px;
}
.groupChatSettings__addMemberBtn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #eae8f2;
    border: none;
}
.groupChatSettings__addMemberBtn__text {
    font-size: 15px;
}
.groupChatSettings__botSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
}
.groupChatSettings__deleteBtn__container {
    padding: 0px 25px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    color: #fc1243;
    background-color: transparent;
}
.groupChatSettings__deleteBtn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: #fc1243;
}
.groupChatSettings__deleteBtn__text {
    font-size: 15px;
    margin-left: 10px;
}