.group__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 445px; */
}
.group__topSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(90deg, #5863d5, #c991df);
}
.group__menu {
    margin-left: 0;
    margin-right: auto;
    background: none;
    border: none;
    padding-left: 20px;
}
.group__title {
    margin: auto auto;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.group__header {
    font-size: 20px;
    font-weight: bolder;
}
.group__description {
    font-size: 16px;
}
.group__settings {
    margin-left: auto;
    margin-right: 0;
    background: none;
    border: none;
    padding-right: 20px;
    color: #fff;
}
.group__midSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
    color: #474456;
    background-color: #f5f4fa;
}
.group__socialNetwork__container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.group__socialNetwork__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid #e1e0e7;
    background-color: #fff;
}
.whatsApp__logo {
    font-size: 30px;
    color: #78cd6d;
}
.email__logo {
    font-size: 22px;
    color: #58e2c2;
}

.telegram__logo {
    font-size: 28px;
    color: #30a2d2;
    margin-right: 3px;
}
.facebook__logo {
    font-size: 22px;
    color: #3d5aa7;
}
.group__botSection {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #eae8f2;
}
.message__input__field__container {
    text-align: left;
    width: 80%;
    margin-left: 20px;
    height: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 1px 2px 0px #47445636;
    background-color: #fff;
}
.send__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-image: linear-gradient(135deg, rgb(90, 99, 216), rgb(205, 144, 225));
    border-radius: 50px;
    border: none;
    margin-left: 10px;
}
.send__btn__icon {
    margin-left: 3px;
}