.dashboard__userProfile--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #56536c;
}
.dashboard__userProfile__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background: #fff;
}
.dashboard__topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-color: #f5f4fa;
    padding-bottom: 25px;
}
.dashboard__userImage__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    border-radius: 50px;
    background-color: #f5f4fa;
    margin-top: -20px;
}
.dashboard__userImage {
    width: 85px;
    height: 85px;
    border-radius: 50px;
}
.dashboard__midSection {
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    max-height: 270px;
    padding-top: 10px;
}
.dashboard__bottomSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    background-image: url("../assets/navigationBar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dashboard__userProfile__Icon,
.dashboard__userFavorites__Icon,
.dashboard__addGroup__button__wrapper__wrapper,
.dashboard__userHistory__Icon,
.dashboard__userSettings__Icon {
    background: none;
    border: none;
    margin-bottom: 15px;
    flex: 1;
}
.dashboard__welcome {
    font-size: 18px;
    font-weight: bold;
}
.dashboard__moto {
    font-size: 16px;
}
.dashboard__chats__header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
.addGroup__button--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0px 20px 15px -2px #a6a2dc;
    background-image: linear-gradient(135deg, rgb(90, 99, 216), rgb(205, 144, 225))
}