.burger__close__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.horizontal__line {
    border-radius: 25px;
    background-color: bbb9c2;
    width: 20px;
    margin-bottom: 3px;
}